<p>
  {{headerTitle}}
</p>

<input [(ngModel)]="data.name">

<p>{{data.name}}</p>
<p>{{data.status}}</p>


<h2>*ngFor listing</h2>

<form>
  <label>Filter list by name:</label>
   <!-- <input type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}" /> -->
   <input type="text" [(ngModel)]="term" name="name">
</form>
<ul>
  <li *ngFor='let list of listing | filter:term'>
    <a href="#">
      {{list.name}} - {{list.age}}
    </a>
    <span [ngStyle]='{background: list.belt}'>{{list.belt}}</span>
  </li>
</ul>
